# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
   # Ignorar archivos y carpetas del frontend/backend
frontend/node_modules/
backend/target/

   # Archivos configuraciones que no se deben incluir
*.env
.idea/
*.log