
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container px-5">
    <a class="navbar-brand" href="#page-top">TODOCU€$TA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/iniciar-sesion">Entrar</a></li>
        <!-- <li class="nav-item"><a class="nav-link" href="#!">Log In</a></li> -->
      </ul>
    </div>
  </div>
</nav>
<!-- Header-->
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container px-5">
      <h1 class="masthead-heading mb-0">Venta privada </h1>
      <h2 class="masthead-subheading mb-0">para el cliente leal</h2>
      <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Más información</a>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
<!-- Content section 1-->
<section id="scroll">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/logoO.png" alt="..." /></div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Todocu€$ta</h2>
          <p>Es tu aplicacion a la última tecnología y al e-commerce exclusivo. Conectamos tu vida con las mejores innovaciones y ofertas privadas, garantizando una experiencia de compra segura y confiable. ¡Regístrate y descubre un mundo de posibilidades!.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content section 2-->
<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
        <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/todocuestafff.png" alt="..." /></div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">VENTA PRIVADA</h2>
          <p>Con nuestras ventas privadas, tú tienes acceso a productos únicos y descuentos especiales que nadie más podrá aprovechar. Regístrate ahora y descubre un mundo de oportunidades diseñadas solo para ti. ¡No te quedes fuera, compra con seguridad y disfruta de lo mejor! 🚀✨.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content section 3-->
<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/enviosGeff.jpg" alt="..." /></div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">SOBRE EL CEO </h2>
          <p>Soy Geffrey, desarrollador web y multiplataforma.
            Regístrate y compra con seguridad en mi plataforma. ¿Tienes dudas o quieres colaborar? No dudes en contactarme.</p>
          <p>Encuéntrame en <a href="https://github.com/Geffrey99" target="_blank">GitHub</a> y descubre mis proyectos.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-black">
  <div class="container px-5"><p class="m-0 text-center text-white small">Copyright &copy;  WebsiteGeffrey 2025</p></div>
</footer>

