<nav class="navbar bg-body-tertiary">
  <div class="container-fluid d-flex justify-content-center">
    <a class="navbar-brand mx-auto" href="#">
      <img src="assets/img/logoO.png" alt="Logo" width="150" class="d-inline-block align-text-top logo">
    </a>
  </div>
</nav>

<div class="container mt-5">
  <div class="text-center mb-4">
    <button class="btn btn-outline-dark me-2" [class.active]="!isRightPanelActive" (click)="togglePanel(false)">Iniciar sesión</button>
    <button class="btn btn-outline-dark" [class.active]="isRightPanelActive" (click)="togglePanel(true)">Registrarse</button>
  </div>

  <!-- FORMULARIO DE REGISTRO -->
  <div *ngIf="isRightPanelActive" class="form-container">
    <form [formGroup]="registerForm">
      <h1>Crear cuenta</h1>
      <div class="social-container">
        <img src="assets/loader.svg" alt="Cargando..." />
      </div>
      <span>o usa tu email para registrarte</span>
      <input formControlName="nombre" class="form-control" type="text" placeholder="Nombre" />
      <input formControlName="apellido" class="form-control" type="text" placeholder="Apellido" />
      <input formControlName="email" class="form-control" type="email" placeholder="Email" />
      <input formControlName="password" class="form-control" type="password" placeholder="Contraseña" />
      <button type="submit" (click)="register()">Crear cuenta</button>
    </form>
  </div>

  <!-- FORMULARIO DE LOGIN -->
  <div *ngIf="!isRightPanelActive" class="form-container">
    <form [formGroup]="loginForm">
      <h1>Iniciar sesión</h1>
      <div class="social-container">
        <img src="assets/loader.svg" alt="Cargando..." />
      </div>
      <span>Usa tu correo registrado</span>
      <input formControlName="email" class="form-control" type="email" placeholder="Email" />
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
        <div *ngIf="email.errors?.['required']">El email es requerido.</div>
        <div *ngIf="email.errors?.['email']">El email no es válido.</div>
      </div>
      <input formControlName="password" class="form-control" type="password" placeholder="Contraseña" />
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
        <div *ngIf="password.errors?.['required']">La contraseña es requerida.</div>
        <div *ngIf="password.errors?.['minlength']">Contraseña no válida.</div>
      </div>
      <a href="#">¿Has olvidado tu contraseña?</a>
      <button type="submit" (click)="login()">Iniciar sesión</button>
      <p class="text-danger"> {{loginError}}</p>
    </form>
  </div>
</div>
