.card-img-top {
  width: 100%; /* Asegura que la imagen cubra el ancho del contenedor*/
  height: 200px; /* Altura fija para todas las imágenes  */
  object-fit: cover; /* Asegura que la imagen cubra el espacio sin distorsionarse */
}
/* Contenedor principal */
.filters-search-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  overflow-x: auto;
}

.filters,
.search {
  flex: 1 1 50%;
}

/* Responsive: ajusta a pantallas pequeñas */
@media (max-width: 768px) {
  .filters-search-container {
    gap: 0.5rem;
  }

  .filters,
  .search {
    flex: 1 1 45%;
  }
}
